html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, darkgreen, green, chartreuse);
}

#container {
    display: flex;
    height: 100vh;
}

#map {
    width: 100%;
    height: 100vh;
    flex: 1;
}

#sidebar {
    width: 300px;
    overflow-y: auto;
    border-left: 1px solid #444;
    padding: 10px;
}

#line-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.line-button {
    text-align: left;
    padding: 8px;
    cursor: pointer;
}

.station-item {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    border: 3px solid white;
    margin-top: 5px;

}

.station-item:hover {
    background: rgba(0, 160, 0, 0.5);
}

#infobox {
    position: absolute;
    left: 25px;
    bottom: 25px;
    width: 320px;
    background: linear-gradient(to bottom, darkgreen, green, chartreuse);
    padding: 15px;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    border: 5px solid black;
    box-shadow: 0 2px 8px rgba(0,0,0,.25);
    color: white;

}

#search-desktop {
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;

}

@media (min-width: 769px) {

    #infobox-mobile {
        display: none;
    }

    #search-bar {
        display: none;
    }

    #search-results {
        display: none;
    }

    #station-list {
        display: none;
    }

    #line-list {
        display: none;
    }

}

@media (max-width: 768px) {

    #container {
        display: block;
    }

    #sidebar {
        display: none;
    }

    #infobox {
        display: none;
    }

    #search-bar {
        position: fixed;
        top: 15px;
        left: 15px;
        right: 15px;
        z-index: 1000;
    }

    #search-results {
        display: none;
        position: fixed;
        top: 70px;
        left: 15px;
        right: 15px;
        max-height: 50vh;
        overflow-y: auto;
        background: white;
        border-radius: 15px;
        z-index: 1000;
    }
    .search-result {
        padding: 15px;
        border-bottom: 1px solid #eee;
    }

    #search-bar-mobile {
        width: 100%;
        box-sizing: border-box;
        padding: 12px 16px;
        border: none;
        border-radius: 25px;
        font-size: 16px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    }


    #infobox-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 120px;
        background: white;
        border-radius: 20px 20px 0 0;
        z-index: 1000;
        padding: 15px;
        box-shadow: 0 -2px 12px rgba(0,0,0,.2);

    }
    
    #mobile-handle {
        width: 40px;
        height: 5px;
        background: #ccc;
        border-radius: 10px;
        margin: 0 auto 15px auto;
    }

}