html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, darkgreen, green, chartreuse);
}

#container {
    display: flex;
    height: 100vh;
}

#map {
    width: 100%;
    height: 100vh;
    flex: 1;
}

#sidebar {
    width: 300px;
    overflow-y: auto;
    border-left: 1px solid #444;
    padding: 10px;
}

#line-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.line-button {
    text-align: left;
    padding: 8px;
    cursor: pointer;
}

.station-item {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    border: 3px solid white;
    margin-top: 5px;

}

.station-item:hover {
    background: rgba(0, 160, 0, 0.5);
}

#infobox {
    position: absolute;
    left: 25px;
    bottom: 25px;
    width: 320px;
    background: linear-gradient(to bottom, darkgreen, green, chartreuse);
    padding: 15px;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    border: 5px solid black;
    box-shadow: 0 2px 8px rgba(0,0,0,.25);
    color: white;

}